
*{
  margin: 0;
  padding: 0;

}
body{

   background-color: #eee;
   padding-top: 70px;

}

*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}
.alert {
  position: absolute;
  left: 350px;
  top:50px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}





#navbar{
   width: 100%;
   height:80px;
   background-color:#1E88E5;
   color: #1A237E;
   position: fixed;
   top: 0px;
   padding-top: 5PX;
   float: left;


}
#navbar a:hover{
  background-color: #062138;
  color: #A5F5FA;


}
#linkref{
    color:#FCFAFC;
    text-decoration: none;
    padding: 15px;


}
#linkreff{
    color:#179b77;
    text-decoration: none;
    padding: 15px;


}

#hotel{
  position: absolute;
  left: 150px;
  text-align: center;
  color:#ffff;
  top:80px;
  font-size: 20px;

}

.neto{
width:100%;
height: 400px;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  font-family: monospace;



}
.btnriverine{
    margin: 30px;
    border-radius: 10px;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
      width: 400PX;
    font-size:2em;
    font-weight:50;
    text-transform:capitalize;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
      background: #179b77;

}



.availability{

     position: absolute;
     left: 10px;
     top:520px;
     width: 95%;
     height: 200px;
     margin: 50px;
     background: rgba(19, 35, 47, 0.9);
     padding:6px;
     margin: 40px auto;
     border-radius: 10px;
     box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);


}
.btnriverine :hover ,.btnriverine :focus {
  background: #179b77;
}


/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
}
.slide{
 width:100%;
 height:450px;
 }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
  font-family:monospace;
  color: #fff;
  font-size: bolder;

}

h4{

   margin-left: 50%;
   font-size: 30px;
   font-family:Helvetica, sans-serif;

}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.neto1{
margin-top: 340px;
  height: 250px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: monospace;


}

.neto3{

  height: 330px;
  width:100%;
  font-size: 30px;
  font-family: monospace;
  font-weight: bolder;
  background-color: #FAFAFA ;
  margin-top: 0px;

}
.neto4{

  height: 330px;
  width:100%;
  font-size: 30px;
  font-family: monospace;
  font-weight: bolder;
  background-color: #FAFAFA ;
  margin-top: 10px;

}


/*...........footer.........*/
footer{
width: 100%;
background-color: #222;
padding:60px 0px;
font-size: 60px;
height: 300px;

}
.footer h6{
  margin-left: 30px;
 font-size: 16px;
 margin-top:-25px;
 color: #fff;

}
.footer{
  margin-left: 30px;
 width: 300px;
 heigth:200px;

}
.footercontent{
  margin: 2px;
 padding: 20px;
}
.btnfooter{
  width: 100%;
  margin:10px;
  background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

}
.btnfooter:hover{
      opacity:1;

}

input[type=text] {
  width: 100%;
  margin-bottom: 10px;
  padding:7px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
textarea {
  width: 100%;
  margin-bottom:3px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#buk{

  border-radius: 10px;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
width:30%;
  height:auto;
  font-size:12px;
  font-weight:50;
  text-transform:capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;

    background: #179b77;
    text-align: center;

}
